// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$gray: rgb(100,100,100);

h1 {
  color: $gray;
  text-align: center;
  margin: 20px 0;
}

.container {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 80%;
}

.board {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  .board-letter {
    width: 40px;
    height: 40px;
    border: 1px solid #35519A;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgb(150,150,150);
    background: #5170C1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin: 0 0;
    }
  }
}

.input p {
  color: $gray;
  margin-bottom: 6px;
}
